// PAWS LISTS
// Styles for Enrichment, Animals, and Zookeepers page
// ---------------------------------------------------

.carousel {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;  /* On older OS versions "position" and "z-index" must be defined, */
  z-index: 1;      /* it seems that recent webkit is less picky and works anyway. */
  overflow: hidden;
}
.carousel .carousel-scroller {
  margin: 0;
  padding: 0;
  overflow: auto;
}
.carousel .carousel-scroller ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.carousel .carousel-scroller li {
  display: inline-block;
  float: left;
}
.carousel .carousel-scroller .carousel-rows {
  display: none;
}
.carousel li {
  background: @white;
  border: 1px solid darken(@grayLighter, 20%);
  box-shadow: inset 0px -2px 0px darken(@grayLighter, 10%);
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  //width: 120px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.carousel .list-active {
  background: @green;
  border: 1px solid darken(@green, 20%);
  box-shadow: inset 0px -2px 0px darken(@green, 10%);
  color: @almostWhite;
}
.list-vertical {
  float: left;
  width: 100%;
  margin-right: 10px;
  height: 260px;
  overflow: hidden;
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    li {
      float: left;
    }
  }
  .list-entry {
    padding: 5px;
  }
}
.list-actions {
  text-align: right;
  float: right;
  padding-top: 10px;
}
.list-items li {
  margin: 5px;
  width: 200px;
  span {
    //width: 140px;
    //height: @baseLineHeight * 2;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}
.list-row {
  margin-top: 10px;
}
.list-items-large li {
  text-align: left;
  .list-title {
    font-weight: bold;
    font-size: @baseFontSize * 2;
    line-height: @baseLineHeight * 1.6;
  }
  .list-subtext {
    font-style: italic;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
  }
}

.list-entry {
  @backgroundColor: @white;
  background: @backgroundColor;
  border: 1px solid darken(@backgroundColor, 20%);
  box-shadow: inset 0px -2px 0px darken(@backgroundColor, 10%);
  padding: 10px;
  margin-bottom: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  strong {
    display: block;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
  small {
    font-size: 12px;
    line-height: 12px;
  }
  .transition(all 0.15s ease-in-out)
}
.list-active {
  background: @green;
  border: 1px solid darken(@green, 20%);
  box-shadow: inset 0px -2px 0px darken(@green, 10%);
  color: @almostWhite;
}

#enrichmentSelector h4{
  text-transform: capitalize;
  font-size: 13px;
  margin-top: 3px;
}
#addnew{
  margin-bottom: 20px;
}

.label{
  text-transform: capitalize;
}
.label-info{
  text-transform: none;
}

#modal-observe-1 .well{
  padding: 10px;
}
.list-items-modal li {
  margin: 5px;
  width: 140px;
  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  text-transform: capitalize;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
