// PAWS LISTS
// Styles for Enrichment, Animals, and Zookeepers page
// ---------------------------------------------------

.carousel {
  width: 100%;
  margin: 0;
  padding: 0;
  /*float:left;*/
  position:relative;  /* On older OS versions "position" and "z-index" must be defined, */
  z-index:1;      /* it seems that recent webkit is less picky and works anyway. */
  overflow:hidden;
}
.carousel .carousel-scroller {
  margin: 0;
  padding: 0;
  overflow: auto;
}
.carousel .carousel-scroller ul {
  list-style:none;
  display:block;
  margin: 0;
  padding:0;
  overflow: auto;
}
.carousel .carousel-scroller li {
  display:inline-block; float:left;
}
.carousel .carousel-scroller .carousel-rows {
  display: none;
}
#categorySelector li, #subcategorySelector li, #enrichmentSelector li {
  text-align:center;
  padding: 10px;
  margin: 0 5px;
  background: #e0e0e0;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #a6a6a6;

  width: 120px;
}
#categorySelector li.selected,
#subcategorySelector li.selected,
#enrichmentSelector li.selected {
  opacity: 0.4;
}

#enrichmentSelector li {
  margin: 5px;
}
#enrichmentSelector .carousel-scroller {
  margin: 0 auto;
}
#categorySelector, #subcategorySelector, #enrichmentSelector {
  margin-top: 10px;
}
