// PAWS LISTS
// Styles for Enrichment, Animals, and Zookeepers page
// ---------------------------------------------------

.carousel {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;  /* On older OS versions "position" and "z-index" must be defined, */
  z-index: 1;      /* it seems that recent webkit is less picky and works anyway. */
  overflow: hidden;
}
.carousel .carousel-scroller {
  margin: 0;
  padding: 0;
  overflow: auto;
}
.carousel .carousel-scroller ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.carousel .carousel-scroller li {
  display: inline-block;
  float: left;
}
.carousel .carousel-scroller .carousel-rows {
  display: none;
}
.carousel li {
  background: @grayLighter;
  border: 1px solid darken(@grayLighter, 20%);
  box-shadow: inset 0px -2px 0px darken(@grayLighter, 10%);
  text-align: center;
  padding: 10px;
  margin: 0 5px;
}
.carousel .list-active {
  background: @green;
  border: 1px solid darken(@green, 20%);
  box-shadow: inset 0px -2px 0px darken(@green, 10%);
  color: @almostWhite;
}
.list-items li {
  margin: 5px;
  width: 200px;
}
.list-items .carousel-scroller {
  margin: 0 auto;
}
.list-row {
  margin-top: 10px;
}
.list-items-large li {
  text-align: left;
  .list-title {
    font-weight: bold;
    font-size: @baseFontSize * 2;
    line-height: @baseLineHeight * 1.6;
  }
  .list-subtext {
    font-style: italic;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
  }
}