{# animals.html #}
{# This file is temporary for the new layout mockup #}

{% extends "base.html" %}

{% block body %}
<div class="container" id="animal-container">

  <div class="row">
    <div class="span12">
      <div class="page-header">
        <div class="list-actions">
          <strong>View by:</strong>
          <a href="#" class="active">Exhibit</a> | 
          <a href="#">Species</a>
        </div>
        <h1>Your Animals <small>(<a href="#">view all</a>)</small></h1>
      </div>
    </div>
  </div>

  <div class="row list-items">

    <div class="span12">
      <h2>Exhibit CZ-12</h2>
    </div>

    <div class="span12">
      <h3>Dogs and Cats</h3>
    </div>

    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>

    <div class="span12">
      <h3>Cool sounding animals</h3>
    </div>

    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry list-active">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow</small>
      </div>
    </div>
  </div>

  <hr>
  <div class="row list-items">

    <div class="span12">
      <h2>Exhibit CZ-12</h2>
    </div>

    <div class="span12">
      <h3>Dogs and Cats</h3>
    </div>

    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>

    <div class="span12">
      <h3>Cool sounding animals</h3>
    </div>

    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow Headed Amazon</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow</small>
      </div>
    </div>
    <div class="span3">
      <div class="list-entry list-active">
        <strong>Fudge Ripple</strong>
        <small>Double Yellow</small>
      </div>
    </div>
  </div>



</div>

{% endblock %}