{# Copyright 2012 PAWS. All right reserved #}
{# Date: 5/05/2012 #}
{# base.html - Base HTML template for the PAWS project #}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}The 1140px Grid &middot; Fluid down to mobile{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- 1140px Grid styles for IE -->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" type="text/css" media="screen" /><![endif]-->

  <!-- The 1140px Grid - http://cssgrid.net/ -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/1140.css" type="text/css" media="screen" />
  
  <!-- Your styles -->
  {% block styles %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
  {% endblock %}
  
  <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
  {% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
  {% endblock %}
</head>


<body>
{% block body %}
{% endblock %}
</body>

</html>
