{# Copyright 2012 PAWS. All right reserved #}
{# Date: 5/05/2012 #}
{# base.html - Base HTML template for the PAWS project #}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}San Diego Zoo - PAWS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Styles --> 
    {% block styles %}
    {% load compress %}
    {% compress css %}
    <link href="{{ STATIC_URL }}style/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    <!--<link href="{{ STATIC_URL }}css/paws.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}style/less/bootstrap.less" rel="stylesheet" type="text/less">
    <link href="{{ STATIC_URL }}style/less/responsive.less" rel="stylesheet" type="text/less">
    {% endcompress %}
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/custom-theme/jquery.ui.1.8.16.ie.css"/>
    <![endif]-->
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
      <nav class="navbar navbar-fixed-top">
          
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <a href="/" class="brand"><img src="{{ STATIC_URL }}img/logo.png" alt="SD PAWS"></a>

            <div class="nav-collapse">
              <ul class="nav">
                <li><a href="#observe">Observe <small>Record animal behavior</small></a>
                <li><a href="/enrichments">Enrichment <small>Manage, edit, add</small></a>
                <li><a href="/animals">Animals <small>Manage, edit, add</small></a>
                <li><a href="#zookeeper">Zookeepers <small>Manage, edit, add</small></a>
              </ul>
              {% block nav_actions %}
              <ul class="nav actions">
                {% if user.is_authenticated %}
                <li>
                  <span class="navbar-text">
                    Welcome, {{ user.first_name }}! <a href="/auth/logout/">Log Out</a></span>
                </li>
                {% endif %}
              </ul>
              {% endblock %}
            </div>

          </div>
        </div>
      
      </nav>
    {% endblock %}

  {% block body %}
  {% endblock %}

  {% block scripts %}
  {% load compress %}
    <script type="text/javascript" src="{{ STATIC_URL }}script/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script/iscroll.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script/knockout-2.0.0.js"></script>
  {% compress js %}
    <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}script/animals.coffee"></script>
  {% endcompress %}
  {% endblock %}
  </body>

</html>
