{# enrichments.html #}

{% extends "base.html" %}

{% block styles %}
{{ block.super }}
<style type="text/css">


</style>
{% endblock styles %}

{% block body %}
<div id="enrichment-container">
  <div class="carousel" id="categorySelector">
    <div class="carousel-scroller">
      <ul data-bind="foreach: categories">
        <li data-bind="click: $parent.filterCategory,
            css: { 'list-active': $parent.categoryFilter() == $data }">
          <div data-bind="text: name"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="carousel" id="subcategorySelector">
    <div class="carousel-scroller">
      <ul data-bind="foreach: subcategoriesFilterCategory">
        <li data-bind="click: $parent.filterSubcategory,
            css: { 'list-active': $parent.subcategoryFilter() == $data }">
          <div data-bind="text: name"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="carousel list-items" id="enrichmentSelector">
    <div class="carousel-scroller carousel-rows">
      <ul data-bind="foreach: enrichmentsFilterSubcategory">
        <li>
          <div data-bind="text: name"></div>
          <div data-bind="text: categoryName"></div>
          <div data-bind="text: subcategoryName"></div>
        </li>
      </ul>
  </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% load coffeescript %}
{{ block.super }}
<script src="{{ STATIC_URL }}script/iscroll.js"></script>
<script src="{{ STATIC_URL }}script/knockout-2.0.0.js"></script>
<script type="text/javascript">
  {% inlinecoffeescript %}
  $(document).ready ->
    # Knockout
    class Enrichment
      constructor: (data) ->
        @name = ko.observable data.name # non-observable is fine
        @categoryName = ko.observable data.subcategory.category.name
        @categoryId = ko.observable data.subcategory.category.id
        @subcategoryName = ko.observable data.subcategory.name
        @subcategoryId = ko.observable data.subcategory.id
        @disabled = false
    class Category
      constructor: (data) ->
        @name = ko.observable data.name
        @id = ko.observable data.id
    class Subcategory
      constructor: (data) ->
        @name = ko.observable data.name
        @id = ko.observable data.id
        @categoryId = ko.observable data.category.id
    class EnrichmentViewModel
      constructor: () ->
        @categories = ko.observableArray []
        @subcategories = ko.observableArray []
        @enrichments = ko.observableArray []


        # Operations
        # Current Filters
        @categoryFilter = ko.observable ''
        @subcategoryFilter = ko.observable ''

        # Apply filters
        @filterCategory = (category) =>
          if category == @categoryFilter()
            @subcategoryFilter('')
            @categoryFilter('')
          else
            @subcategoryFilter('')
            @categoryFilter(category)
          resizeAllCarousels()

        @filterSubcategory = (subcategory) =>
          if subcategory == @subcategoryFilter()
            @subcategoryFilter('')
          else
            @subcategoryFilter(subcategory)
          resizeAllCarousels()
          ## For disable instead of remove, need css rule, not working
          #ko.utils.arrayForEach @enrichments(), (enrichment) ->
          #  if enrichment.subcategoryId() != subcategory.id()
          #    enrichment.disabled = true
          #  else
          #    enrichment.disabled = false

        # Filtered lists
        @subcategoriesFilterCategory = ko.computed =>
          category = @categoryFilter()
          if category == ''
            return []
          return ko.utils.arrayFilter @subcategories(), (subcategory) ->
            return subcategory.categoryId() == category.id()

        @enrichmentsFilterCategory = ko.computed =>
          category = @categoryFilter()
          if category == ''
            return @enrichments()
          return ko.utils.arrayFilter @enrichments(), (enrichment) ->
            return enrichment.categoryId() == category.id()
        @enrichmentsFilterSubcategory = ko.computed =>
          subcategory = @subcategoryFilter()
          if subcategory == ''
            return @enrichmentsFilterCategory()
          return ko.utils.arrayFilter @enrichmentsFilterCategory(), (enrichment) ->
            return enrichment.subcategoryId() == subcategory.id()


        # Initialize
        # API limits num results, use &limit=0 (?)
        $.getJSON '/api/v1/category/?format=json', (data) =>
          mappedCategories = $.map data.objects, (item) ->
            return new Category item
          @categories mappedCategories
        $.getJSON '/api/v1/subcategory/?format=json', (data) =>
          mappedSubcategories = $.map data.objects, (item) ->
            return new Subcategory item
          @subcategories mappedSubcategories
        $.getJSON '/api/v1/enrichment/?format=json', (data) =>
          mappedEnrichments = $.map data.objects, (item) ->
            return new Enrichment item
          @enrichments mappedEnrichments
          resizeAllCarousels()

    ko.applyBindings new EnrichmentViewModel(), document.getElementById 'enrichment-container'

    # Display
    MAX_SCROLLER_ROWS = 7
    window.scrollers = {}

    resizeCarousel = (scroller, numRows=1) ->
      oldWidth = $(scroller).width()
      newWidth = Math.ceil($(scroller).find('ul li').length/numRows)*$(scroller).find('ul li:first').outerWidth(true)
      if newWidth != oldWidth
        console.log 'Resizing carousel from ' + oldWidth + ' to ' + newWidth
        $(scroller).width newWidth
        return true
      return false

    resizeAllCarousels = (refresh=true) ->
      $('.carousel-scroller').each ->
        if $(this).hasClass 'carousel-rows'
          numRows = Math.min Math.floor(($(window).height()-$(this).parent().offset().top)/$(this).find('li:first').outerHeight(true)), MAX_SCROLLER_ROWS
          resized = resizeCarousel this, numRows
        else
          resized = resizeCarousel this
        if refresh and resized
          console.log 'Refreshing carousel'
          scrollers[$(this).parent().prop('id')].refresh()

    #setTimeout resizeAllCarousels, 20

    scrollers.categorySelector = new iScroll 'categorySelector', {
        vScroll: false
        momentum: true
        bounce: true
        hScrollbar: false
      }
    scrollers.subcategorySelector = new iScroll 'subcategorySelector', {
        vScroll: false
        momentum: true
        bounce: true
        hScrollbar: false
      }
    scrollers.enrichmentSelector = new iScroll 'enrichmentSelector', {
        vScroll: false
        momentum: true
        bounce: true
        hScrollbar: false
      }
    $(window).resize ->
      clearTimeout window.resizeTimeout
      window.resizeTimeout = setTimeout resizeAllCarousels, 500


  {% endinlinecoffeescript %}
</script>
{% endblock scripts %}
