{# enrichments.html #}

{% extends "base.html" %}

{% block styles %}
{{ block.super }}
<style type="text/css">


</style>
{% endblock styles %}

{% block body %}
<div id="enrichment-container">
  <div class="carousel" id="categorySelector">
    <div class="carousel-scroller">
      <ul data-bind="foreach: categories">
        <li>
          <div data-bind="text: name"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="carousel" id="subcategorySelector">
    <div class="carousel-scroller">
      <ul data-bind="foreach: subcategories">
        <li>
          <div data-bind="text: name"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="carousel" id="enrichmentSelector">
    <div class="carousel-scroller carousel-rows">
      <ul data-bind="foreach: enrichments">
        <li>
          <div data-bind="text: name"></div>
        </li>
      </ul>
  </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% load coffeescript %}
{{ block.super }}
<script src="{{ STATIC_URL }}script/iscroll.js"></script>
<script src="{{ STATIC_URL }}script/knockout-2.0.0.js"></script>
<script type="text/javascript">
  {% inlinecoffeescript %}
  $(document).ready ->
    # Knockout
    class Enrichment
      constructor: (data) ->
        @name = ko.observable data.name # non-observable is fine
        @categoryName = ko.observable data.subcategory.category.name
        @categoryId = ko.observable data.subcategory.category.id
        @subcategoryName = ko.observable data.subcategory.name
        @subcategoryId = ko.observable data.subcategory.id
    class EnrichmentListViewModel
      constructor: () ->
        @enrichments = ko.observableArray []
        # API limits num results, use &limit=0 (?)
        $.getJSON '/api/v1/enrichment/?format=json', (data) =>
          mappedEnrichments = $.map data.objects, (item) ->
            return new Enrichment item
          @enrichments mappedEnrichments

    class Category
      constructor: (data) ->
        @name = ko.observable data.name
        @id = ko.observable data.id
    class CategoryListViewModel
      constructor: () ->
        @categories = ko.observableArray []
        # API limits num results, use &limit=0 (?)
        $.getJSON '/api/v1/category/?format=json', (data) =>
          mappedCategories = $.map data.objects, (item) ->
            return new Category item
          @categories mappedCategories

    class Subcategory
      constructor: (data) ->
        @name = ko.observable data.name
        @id = ko.observable data.id
    class SubcategoryListViewModel
      constructor: () ->
        @subcategories = ko.observableArray []
        # API limits num results, use &limit=0 (?)
        $.getJSON '/api/v1/subcategory/?format=json', (data) =>
          mappedSubcategories = $.map data.objects, (item) ->
            return new Subcategory item
          @subcategories mappedSubcategories

    ko.applyBindings new EnrichmentListViewModel(), document.getElementById 'enrichmentSelector'
    ko.applyBindings new CategoryListViewModel(), document.getElementById 'categorySelector'
    ko.applyBindings new SubcategoryListViewModel(), document.getElementById 'subcategorySelector'

    # Display
    MAX_SCROLLER_ROWS = 7
    window.scrollers = {}

    resizeCarousel = (scroller, numRows=1) ->
      oldWidth = $(scroller).width()
      newWidth = Math.ceil($(scroller).find('ul li').length/numRows)*$(scroller).find('ul li:first').outerWidth(true)
      if newWidth != oldWidth
        console.log 'Resizing carousel from ' + oldWidth + ' to ' + newWidth
        $(scroller).width newWidth
        return true
      return false

    resizeAllCarousels = (refresh=true)->
      $('.carousel-scroller').each ->
        if $(this).hasClass 'carousel-rows'
          numRows = Math.min Math.floor(($(window).height()-$(this).parent().offset().top)/$(this).find('li:first').outerHeight(true)), MAX_SCROLLER_ROWS
          resized = resizeCarousel this, numRows
        else
          resized = resizeCarousel this
        if refresh and resized
          console.log 'Refreshing carousel'
          scrollers[$(this).parent().prop('id')].refresh()

    resizeAllCarousels(false)

    scrollers.categorySelector = new iScroll 'categorySelector', {
        vScroll: false
        momentum: true
        bounce: true
        hScrollbar: false
      }
    scrollers.subcategorySelector = new iScroll 'subcategorySelector', {
        vScroll: false
        momentum: true
        bounce: true
        hScrollbar: false
      }
    scrollers.enrichmentSelector = new iScroll 'enrichmentSelector', {
        vScroll: false
        momentum: true
        bounce: true
        hScrollbar: false
      }
    $(window).resize ->
      clearTimeout window.resizeTimeout
      window.resizeTimeout = setTimeout resizeAllCarousels, 500

    

  {% endinlinecoffeescript %}
</script>
{% endblock scripts %}
