{# enrichments.html #}

{% extends "base.html" %}

{% block styles %}
{{ block.super }}
<style type="text/css">
.carousel {
  width:100%;
  /*float:left;*/
  position:relative;  /* On older OS versions "position" and "z-index" must be defined, */
  z-index:1;      /* it seems that recent webkit is less picky and works anyway. */
  overflow:hidden;
}
.carousel .carousel-scroller {
  float:left;
  padding:0;
}
.carousel .carousel-scroller ul {
  list-style:none;
  display:block;
  float:left;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  text-align:left;
}
.carousel .carousel-scroller li {
  display:block; float:left;
}
.carousel .carousel-scroller .carousel-rows {
  display: none;
}
#categorySelector li, #subcategorySelector li, #enrichmentSelector li {
  text-align:center;
  padding: 10px;
  margin: 0 5px;
  background:#aaa;
}
#enrichmentSelector li {
  display: inline-block;
  list-style: none;
  margin: 5px;
}
#categorySelector, #subcategorySelector, #enrichmentSelector {
  margin: 10px;
  right: 10px;
}

</style>
{% endblock styles %}

{% block body %}
<div id="enrichment-container">
  <div class="carousel" id="categorySelector">
    <div class="carousel-scroller">
      <ul>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
        <li>Category</li>
      </ul>
    </div>
  </div>
  <div class="carousel" id="subcategorySelector">
    <div class="carousel-scroller">
      <ul>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
        <li>Sub Category</li>
      </ul>
    </div>
  </div>
  <div class="carousel" id="enrichmentSelector">
    <div class="carousel-scroller carousel-rows">
      <ul>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
        <li>Enrichment</li>
      </ul>
  </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% load coffeescript %}
{{ block.super }}
<script src="{{ STATIC_URL }}script/iscroll.js"></script>
<script type="text/javascript">
  {% inlinecoffeescript %}
  $(document).ready ->
    MAX_SCROLLER_ROWS = 7
    window.scrollers = {}

    resizeCarousel = (scroller, numRows=1) ->
      oldWidth = $(scroller).width()
      newWidth = Math.ceil($(scroller).find('ul li').length/numRows)*$(scroller).find('ul li:first').outerWidth(true)
      if newWidth != oldWidth
        console.log 'Resizing carousel from ' + oldWidth + ' to ' + newWidth
        $(scroller).width newWidth
        return true
      return false

    resizeAllCarousels = (refresh=true)->
      $('.carousel-scroller').each ->
        if $(this).hasClass 'carousel-rows'
          numRows = Math.min Math.floor(($(window).height()-$(this).parent().offset().top)/$(this).find('li:first').outerHeight(true)), MAX_SCROLLER_ROWS
          resized = resizeCarousel this, numRows
        else
          resized = resizeCarousel this
        if refresh and resized
          console.log 'Refreshing carousel'
          scrollers[$(this).parent().prop('id')].refresh()

    resizeAllCarousels(false)

    scrollers.categorySelector = new iScroll 'categorySelector', {
        vScroll: false
        momentum: true
        bounce: true
        hScrollbar: false
      }
    scrollers.subcategorySelector = new iScroll 'subcategorySelector', {
        vScroll: false
        momentum: true
        bounce: true
        hScrollbar: false
      }
    scrollers.enrichmentSelector = new iScroll 'enrichmentSelector', {
        vScroll: false
        momentum: true
        bounce: true
        hScrollbar: false
      }
    $(window).resize ->
      clearTimeout window.resizeTimeout
      window.resizeTimeout = setTimeout resizeAllCarousels, 500
  {% endinlinecoffeescript %}
</script>
{% endblock scripts %}