{# index-grid.html - temporary index #}

<div class="container" id="home">
  <div class="row">
    <div class="span6">
      <a href="/observe" class="home-button" id="home-observe">
        <h1>Observe</h1>
        <p><strong>Record animal behavior</strong> after enrichment</p>
      </a>
    </div>
    <div class="span6">
      <a href="/enrichments" class="home-button" id="home-enrichment">
        <h1>Enrichment</h1>
        <p><strong>Manage enrichment</strong> categories and types</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <a href="/animals" class="home-button" id="home-animal">
        <h1>Animals</h1>
        <p><strong>Manage animals</strong> under your care</p>
      </a>
    </div>
    <div class="span6">
      <a href="/staff" class="home-button" id="home-zookeeper">
        <h1>Staff</h1>
        <p><strong>Manage zookeepers</strong> and their responsibilities</p>
      </a>
    </div>
  </div>
</div>