{# Copyright 2012 PAWS. All right reserved #}
{# Date: 5/25/2012 #}
{# observations.html - For viewing observations #}

<div class="container" id="observationsContainer">
  {# Headers #}
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <div class="row">
          <div class="span6">
            <h1>Your Observations</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <dl data-bind="foreach: observations">
    <dt>
      <h2><span data-bind="text: enrichment.name"></span> <small data-bind="text: date_created"></small></h2>
    </dt>
    <dd>
      <button data-toggle="modal" data-target="#modal-observation-complete" class="btn pull-right" data-bind="click: $root.activeObservation">End Observation</button>
      <dl data-bind="foreach: animal_observations" class="well">
        <dt>
          <h3>
            <span data-bind="text: animal.name"></span>
            <small>
              <span data-bind="text: animal.species.common_name"></span> - 
              <em data-bind="text: animal.species.scientific_name"></em>
            </small>
          </h3>
        </dt>
        <dd class="row">
          <label class="span2">
            Behavior
            <select data-bind="options: $root.behaviorType, value: behavior, optionsText: 'type', optionsValue: 'id'" class="span2"></select>
          </label>
          <label class="span1">
            Indirect Use
            <input type="checkbox" data-bind="checked: indirect_use" class="pull-right"></input>
          </label>
          <label class="span1">
            Time
            <input data-bind="value: interaction_time, valueUpdate: 'afterkeydown'" class="span1"></input>
          </label>
          <label class="span7">
            Description
            <input data-bind="value: description, valueUpdate: 'afterkeydown'" class="span7"></textarea>
          </label>
        </dd>
      </dl>
    </dd>
  </dl>
  {# Modal for completing observation #}
  <div class="modal hide fade" id="modal-observation-complete">
    <div class="modal-body">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Finish observation?</h3>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn btn-primary" data-bind="click: $root.finishObservation">Finish!</a>
    </div>
  </div>

  {#<button data-bind="click: complete">Finish</button>#}
  {#<button data-bind="click: save">Save for later</button>#}
</div>