{# Copyright 2012 PAWS. All right reserved #}
{# Date: 5/25/2012 #}
{# observations.html - For viewing observations #}

<div class="container" id="observationsContainer" style="display: none;">
  {# Headers #}
  <div class="page-header">
    <h1>Your Observations</h1>
  </div>
  <dl data-bind="foreach: observations">
    <dt>
      <h2><span data-bind="text: enrichment().name"></span> <small data-bind="text: $root.prettyDate(date_created())"></small></h2>
    </dt>
    <dd>
      <button data-toggle="modal" data-target="#modal-observation-complete" class="btn pull-right" data-bind="click: $root.activeObservation">End Observation</button>
      <dl data-bind="foreach: animal_observations" class="well">
        <dt>
          <h3>
            <span data-bind="text: animal().name"></span>
            <small>
              <span data-bind="text: animal().speciesCommonName"></span> - 
              <em data-bind="text: animal().speciesScientificName"></em>
            </small>
          </h3>
        </dt>
        <dd>
          <form class="form-inline">
            {% comment %}
            Behavior
            <select data-bind="options: $root.behaviorType, value: behavior, optionsText: 'type', optionsValue: 'id'" class="span2"></select>
            {% endcomment %}
          <input data-bind="value: interaction_time" class="span2" placeholder="Interact. Time"></input>
          <input data-bind="value: observation_time" class="span2" placeholder="Obs. Time"></input>
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: indirect_use" class="pull-right"></input>
            Indirect Use
          </label>
            {#<span data-bind="text: behavior().description"></span>#}
            <button data-bind="click: $root.loadBehaviors.bind($data, $parent)" data-toggle="modal" data-target="#modal-add-behavior" class="btn">Edit Behavior</button>
            {% comment %}
            Description
            <input data-bind="value: description" class="span7"></textarea>
            {% endcomment %}
          </label>
          </form>
        </dd>
      </dl>
    </dd>
  </dl>
  <h3 data-bind="visible: $root.observations().length == 0">All finished!</h3>
  {# Modal for completing observation #}
  <div class="modal hide fade" id="modal-observation-complete">
    <div class="modal-body">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Finish observation?</h3>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn btn-primary" data-dismiss="modal" data-bind="click: $root.finishObservation">Finish!</a>
    </div>
  </div>
  {# Modal for adding behavior #}
  <div class="modal hide fade" id="modal-add-behavior">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Behavior</h3>
    </div>
    <div class="modal-body">
      <form class="form-inline">
        <label>Select Behavior</label>
        <select data-bind="options: $root.activeBehaviors, optionsText: 'description', optionsCaption: 'Select a behavior', value: selectedBehavior" class="span8"></select>
        <hr>
        <label>Add New Behavior</label>
        <select data-bind="options: $root.behaviorType, optionsText: 'type', optionsValue: 'id', value: newBehaviorType" class="span2"></select>
        <input data-bind="value: newBehaviorDesc" class="span6" placeholder="Add new behavior">
        <button class="btn" data-bind="click: addNewBehavior">Add!</button>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn btn-primary" data-dismiss="modal" data-bind="click: $root.saveBehavior">Select</a>
    </div>
  </div>

  {#<button data-bind="click: complete">Finish</button>#}
  {#<button data-bind="click: save">Save for later</button>#}
</div>