{# paws.html #}

{% extends "base.html" %}

{% block body %}
<div id="main">
  {% include "index-grid.html" %}
  {% include "animals.html" %}
  {% block enrichment %}
<div id="enrichmentListContainer">
  <div class="carousel" id="categorySelector">
    <div class="carousel-scroller">
      <ul data-bind="foreach: categories">
        <li data-bind="click: $parent.filterCategory,
            css: { 'list-active': $parent.categoryFilter() == $data }">
          <div data-bind="text: name"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="carousel" id="subcategorySelector">
    <div class="carousel-scroller">
      <ul data-bind="foreach: subcategoriesFilterCategory">
        <li data-bind="click: $parent.filterSubcategory,
            css: { 'list-active': $parent.subcategoryFilter() == $data }">
          <div data-bind="text: name"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="carousel list-items" id="enrichmentSelector">
    <div class="carousel-scroller carousel-rows">
      <ul data-bind="foreach: enrichmentsFilterSubcategory">
        <li>
          <div data-bind="text: name"></div>
          <div data-bind="text: categoryName"></div>
          <div data-bind="text: subcategoryName"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
</div>
{% endblock body %}
