{# Copyright 2012 PAWS. All right reserved #}
{# Date: 5/25/2012 #}
{# staff.html #}

<div class="container" id="staffContainer" style="display: none;">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <div class="row">
          <div class="span6">
            <h1>Staff Members</h1>
          </div>
          <div class="span6">
            {% if user.is_superuser %}
            <div class="btn-group pull-right">
              <button class="btn" data-bind="click: openBulkCreate" data-toggle="modal" data-target="#modal-staff-bulk">Bulk Add</button>
              <button class="btn btn-primary" data-toggle="modal" data-target="#modal-staff-new" data-bind="click: openStaffCreate">Add Staff Member</button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row list-items" data-bind="foreach: staff">
    <div class="span3">
      <div class="list-entry" data-bind="click: $root.viewInfo">
        <span class="label label-info">id : <small data-bind="text: username"></small></span>
        <strong data-bind="text: full_name"></strong>
      </div>
    </div>
  </div>

  {# Modal for viewing staff #}
  <div class="modal hide fade" id="modal-staff-info">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3 data-bind="text: currentStaff().animal_title"></h3>
    </div>

    <div class="modal-body">
      {% if user.is_superuser %}
      <div class="clearfix">
        <h3>Add a new Housing Group</h3>
        <div class="clearfix"></div>
        <div class="alert alert-error" data-bind="visible: newHousingGroupError">
          <button class="close" data-bind="click: function() { newHousingGroupError(null) }">×</button>
          <strong>Error!</strong> <span data-bind="text: newHousingGroupError"></span>
        </div>
        <div class="alert alert-success" data-bind="visible: newHousingGroupSuccess">
          <strong>Success!</strong> <span>Enrichment created</span>
        </div>

        <form action="#" class="form-horizontal well" data-bind="visible: newHousingGroupIsCreating, submit: function() { addHousingGroup(); return false }">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="select01">Exhibit:</label>
              <div class="controls">
                <select data-bind="options: exhibits, value: newHousingGroup.exhibit, optionsText: 'code'"></select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="select01">Housing Group:</label>
              <div class="controls">
                <select data-bind="options: newHousingGroupOptions, value: newHousingGroup.housingGroup, optionsText: 'name'"></select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Animals:</label>
              <div id="animalLabel" class="controls" data-bind="foreach: newHousingGroupAnimals">
                <span data-bind="text: name" class="label"></span> 
              </div>
            </div>
          </fieldset>
          <button class="btn btn-primary pull-right" data-bind="click: addHousingGroup">Add Housing Group</button>
        </form>
      </div>
      {% endif %}
      <h3>Current Housing Groups</h3>
      <!-- ko with: currentStaff -->
      <div data-bind="foreach: housingGroups">
        <hr>
        <dl>
          <dt>
            <h4><strong data-bind="text: name"></strong></h4>
            {% if user.is_superuser %}
            <button class="btn btn-mini btn-danger pull-right" data-bind="click: $root.deleteHousingGroup">Remove</button>
            {% endif %}
          </dt>
          <dd data-bind="foreach: animals">
            <span data-bind="text: name" class="label"></span>
          </dd>
        </dl>
      </div>
      <!--
      <ul data-bind="foreach: housingGroups">
        <li>
          <strong data-bind="text: name"></strong>
          <button class="btn btn-mini btn-danger">Remove</button>
          <ul data-bind="foreach: animals">
            <li data-bind="text: name"></li>
          </ul>
        </li>
      </ul>
    -->
      <!-- /ko -->
    </div>

    <div class="modal-footer" data-bind="visible: $root.newStaffIsCreating">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>

  </div>


  {# Modal for creating staff #}
  <div class="modal hide fade" id="modal-staff-new">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Add Staff Member</h3>
    </div>
    <div class="modal-body">
      {# Info messages #}
      <div class="alert alert-error" data-bind="visible: newStaffError">
        <button class="close" data-bind="click: function() { newStaffError(null) }">×</button>
        <strong>Error!</strong> <span data-bind="text: newStaffError"></span>
      </div>
      <div class="alert alert-success" data-bind="visible: newStaffSuccess">
        <strong>Success!</strong> <span data-bind="text: newStaffSuccess"></span>
      </div>

      {# Input fields #}
      <form action="#" class="form-horizontal" data-bind="visible: newStaffIsCreating, submit: function() {return false }">
        <fieldset>
          <div class="control-group">
            <label class="control-label">First Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" data-bind="value: newStaff.firstName">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Last Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" data-bind="value: newStaff.lastName">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
              <input type="password" class="input-xlarge" data-bind="value: newStaff.password1">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Password (re-enter)</label>
            <div class="controls">
              <input type="password" class="input-xlarge" data-bind="value: newStaff.password2">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Superuser</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" data-bind="checked: newStaff.isSuperuser">
                Enable this if you want this new user to be a super user
              </label>
              <div class="alert" data-bind="visible: newStaff.isSuperuser">
                <strong>Warning!</strong>
                <span>Superusers have permissions to modify anything in the system!</span>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer" data-bind="visible: newStaffIsCreating">
      <img data-bind="visible: newStaffAjaxLoad" src="/static/img/ajax-loader.gif"/>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-primary" data-bind="click: createStaff">Create Staff Member</a>
    </div>
  </div>

  {# Modal dialogs for bulk staff csv uploads #}
  <div class="modal hide fade" id="modal-staff-bulk">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Bulk Staff Uploader</h3>
    </div>
    <div class="modal-body">
      <form action="#" class="form-horizontal" data-bind="visible: !bulkSuccess()">
        <p>Upload a <code>.csv</code> file</p>
        <fieldset>
          <div class="control-group">
            <label class="control-label">Staff List</label>
            <div class="controls">
              <input type="file" data-bind="event: { change: fileChanged }" accept="text/csv" />
            </div>
          </div>
        </fieldset>
      </form>

      <div class="alert alert-error" data-bind="visible: bulkError">
        <button class="close" data-bind="click: function(){ bulkError(null) }">×</button>
        <strong>Error!</strong> <span data-bind="text: bulkError"></span>
      </div>
      <div class="alert alert-success" data-bind="visible: bulkSuccess">
        <strong>Success!</strong> <span data-bind="text: bulkSuccess"></span>
      </div>
      <div class="alert" data-bind="visible: bulkWarning">
        <button class="close" data-bind="click: function(){ bulkWarning(null) }">×</button>
        <strong>Warning!</strong> <span data-bind="text: bulkWarning"></span>
      </div>
      <table class="table table-striped table-condensed" data-bind="if: bulkSuccess">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Is Superuser</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: bulkStaff">
            <td data-bind="text: first_name"></td>
            <td data-bind="text: last_name"></td>
            <td data-bind="text: username"></td>
            <td data-bind="text: is_superuser"></td>
          </tr>
        </tbody>
      </table>

      <div data-bind="if: bulkStaff().length > 0 && !bulkError() && !bulkSuccess()">
        <h4>Preview</h4>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Line #</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Password</th>
              <th>Is Superuser</th>
              <th>Create user</th>
            </tr>
          </thead>

          <tbody data-bind="foreach: bulkStaff">
            <tr data-bind="if: validLine">
              <td data-bind="text: lineNumber"></td>
              <td data-bind="text: firstName"></td>
              <td data-bind="text: lastName"></td>
              <td data-bind="text: password"></td>
              <td data-bind="text: isSuperuser"></td>
              <td><input type="checkbox" data-bind="checked: includeLine"/></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer" data-bind="visible: !bulkSuccess()">
      <img data-bind="visible: bulkAjaxInProgress" src="/static/img/ajax-loader.gif"/>
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <button data-bind="click: bulkCreateStaff, disable: bulkStaff().length == 0" class="btn btn-primary">Upload</button>
    </div>
  </div>

</div>