{# Copyright 2012 PAWS. All right reserved #}
{# Date: 5/25/2012 #}
{# staff.html #}

<div class="container" id="staffContainer" style="display: none;">
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <div class="row">
          <div class="span6">
            <h1>Staff Members</h1>
          </div>
          <div class="span6">
            <div class="btn-group pull-right">
              <button class="btn" data-bind="" data-toggle="modal" data-target="#modal-staff-bulk">Bulk Add</button>
              <button class="btn btn-primary" data-bind="" data-toggle="modal" data-target="#modal-staff-new">Add Staff Member</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row list-items" data-bind="foreach: staff">
    <div class="span3">
      <div class="list-entry" data-bind="click: $root.viewInfo">
        <span class="label label-info">id : <small data-bind="text: username"></small></span>
        <strong data-bind="text: full_name"></strong>
      </div>
    </div>
  </div>

  {# Modal for viewing staff #}
  <div class="modal hide fade" id="modal-staff-info">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3 data-bind="text: currentStaff().animal_title"></h3>
    </div>

    <div class="modal-body">
      <div class="clearfix">
        <h3>Add a new Housing Group</h3>
        <div class="alert alert-error" data-bind="visible: newHousingGroupError">
          <button class="close" data-bind="click: function() { newHousingGroupError(null) }">×</button>
          <strong>Error!</strong> <span data-bind="text: newHousingGroupError"></span>
        </div>
        <div class="alert alert-success" data-bind="visible: newHousingGroupSuccess">
          <strong>Success!</strong> <span>Enrichment created</span>
        </div>

        <form action="#" class="form-horizontal" data-bind="visible: newHousingGroupIsCreating, submit: function() { addHousingGroup(); return false }">
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="select01">Exhibit</label>
              <div class="controls">
                <select data-bind="options: exhibits, value: newHousingGroup.exhibit, optionsText: 'code'"></select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="select01">Housing Group</label>
              <div class="controls">
                <select data-bind="options: newHousingGroupOptions, value: newHousingGroup.housingGroup, optionsText: 'name'"></select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Animals</label>
              <div class="controls" data-bind="foreach: newHousingGroupAnimals">
                <span data-bind="text: name"></span>,
              </div>
            </div>
          </fieldset>
        </form>
        <button class="btn btn-primary pull-right" data-bind="click: addHousingGroup">Add Housing Group</button>
      </div>

      <hr>

      <h3>Current Housing Groups</h3>
      <!-- ko with: currentStaff -->
      <ul data-bind="foreach: housingGroups">
        <li>
          <strong data-bind="text: name"></strong>
          <button class="btn btn-mini btn-danger">Remove</button>
          <ul data-bind="foreach: animals">
            <li data-bind="text: name"></li>
          </ul>
        </li>
      </ul>
      <!-- /ko -->
    </div>

    <div class="modal-footer" data-bind="visible: $root.newStaffIsCreating">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>

  </div>


  {# Modal for creating staff #}
  <div class="modal hide fade" id="modal-staff-new">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Add Staff Member</h3>
    </div>
    <div class="modal-body">
      {# Info messages #}
      <div class="alert alert-error" data-bind="visible: newStaffError">
        <button class="close" data-bind="click: function() { newStaffError(null) }">×</button>
        <strong>Error!</strong> <span data-bind="text: newStaffError"></span>
      </div>
      <div class="alert alert-success" data-bind="visible: newStaffSuccess">
        <strong>Success!</strong> <span data-bind="text: newStaffSuccess"></span>
      </div>

      {# Input fields #}
      <form action="#" class="form-horizontal" data-bind="visible: newStaffIsCreating, submit: function() {return false }">
        <fieldset>
          <div class="control-group">
            <label class="control-label">First Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" data-bind="value: newStaff.firstName">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Last Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" data-bind="value: newStaff.lastName">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
              <input type="password" class="input-xlarge" data-bind="value: newStaff.password1">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Password (re-enter)</label>
            <div class="controls">
              <input type="password" class="input-xlarge" data-bind="value: newStaff.password2">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Superuser</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" data-bind="checked: newStaff.isSuperuser">
                Enable this if you want this new user to be a super user
              </label>
              <div class="alert" data-bind="visible: newStaff.isSuperuser">
                <strong>Warning!</strong>
                <span>Superusers have permissions to modify anything in the system!</span>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer" data-bind="visible: newStaffIsCreating">
      <img data-bind="visible: newStaffAjaxLoad" src="/static/img/ajax-loader.gif"/>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-primary" data-bind="click: createStaff">Create Staff Member</a>
    </div>
  </div>

</div>