{# Copyright 2012 PAWS. All right reserved #}
{# Date: 5/25/2012 #}
{# upload.html - Modal dialogs for csv uploads #}

    <div class="modal hide fade" id="modal-animal-upload">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Bulk Animal Uploader</h3>
      </div>
      <div class="modal-body">
        <p>Upload a <code>.csv</code> file</p>
        <input type="file" id="file_upload">
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary">Upload</a>
      </div>
    </div>
  </div>
