/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		padding-top: 20px;
		font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		color: #333;
	}

	a {
		color: #46a546;
		text-decoration: none;
	}

	#logo {
		float: left;
	}

	#logo a {
		background: url(/static/img/logo.png) no-repeat;
		background-size: 136px 79px;
		width: 136px;
		height: 79px;
		display: block;
	}	

	#login-info {
		padding-top: 30px;
		float: right;
	}

	.hidden {
		display: none;
	}

	.clear {
		clear: both;
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}